/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 avr. 2021, 13:57:30
    Author     : romai
*/
body{
    text-align: center;
    font-family: Raleway, Lucida;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}
.content{
    text-align:left;
    border-collapse: collapse;
    margin-left: auto;
    margin-right:auto;    
    font-size:1em;    
    width:540px;
    border-radius:5px 5px 0 0;
    overflow:hidden;
    
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    
}
table {
    width: 100%;
    border: 1px solid #FF8C64;
}
th.type{
    width:35%
}
th.valeur {
    width: 15%    
}
th.unite{
    width:15%;    
}

.content thead tr{
    background-color:#FF8C64;
    color:#7D6B7D;
    text-align:left;
    font-weight:bold;
}

.content th, .content td{
    padding: 12px 15px;
}

.content tbody tr{
    border-bottom:1px solid #FF8C64;
}

.content tbody tr:last-of-type{
    border-bottom:5px solid #FF8C64;
}

.bardiv{
    height:30px;
    width:540px;
    background-color:aliceblue;
    margin-left: auto;
    margin-right:auto;
}

#bar{
    height:100%;
    width:25%;
    background-color:aquamarine;
}

#etat{
    margin-left: auto;
    margin-right:auto;
    width: 540px;
}


#bruit {

  width: 298px;
    height: 278px;
        right: 30px;
        bottom: -91px;
        position:absolute; 
}
#lightGauge {
   width: 298px;
    height: 278px;
        left: 30px;
        bottom: -460px;
        position:absolute; 
}
 #humidity {
    width: 298px;
    height: 278px;
        right: 30px;
        bottom: -460px;
        position:absolute; 
     
    }
      #temperature {
width: 298px;
    height: 278px;
        left: 30px;
        bottom: -91px;
        position:absolute; 
        
    }
    #coverDiv1{
    
    
    width: 240px;
    height: 20px;
    bottom: 204px;
    left: 57px;
    position:absolute; }
     #coverDiv2{
         
    width: 240px;
    height: 20px;
    bottom: -158px;
    right: 57px;
    position:absolute; }
      #coverDiv3{
    width: 240px;
    height: 20px;
    bottom: -158px;
    left: 57px;
    position:absolute; }
       #coverDiv4{
    
    
    width: 240px;
    height: 20px;
    bottom: 204px;
    right: 57px;
    position:absolute; }