/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 avr. 2021, 13:57:30
    Author     : romai
*/
body{
    text-align: center;
    font-family: Raleway, Lucida;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}
.content{
    text-align:left;
    border-collapse: collapse;
    margin-left: auto;
    margin-right:auto;    
    font-size:1em;    
    width:540px;
    border-radius:5px 5px 0 0;
    overflow:hidden;

    box-shadow: 0 0 20px rgba(0,0,0,0.15);

}
table {
    width: 100%;
    border: 1px solid #FF8C64;
}
th.type{
    width:35%
}
th.valeur {
    width: 15%    
}
th.unite{
    width:15%;    
}

.content thead tr{
    background-color:#FF8C64;
    color:#7D6B7D;
    text-align:left;
    font-weight:bold;
}

.content th, .content td{
    padding: 12px 15px;
}

.content tbody tr{
    border-bottom:1px solid #FF8C64;
}

.content tbody tr:last-of-type{
    border-bottom:5px solid #FF8C64;
}

.bardiv{
    height:30px;
    width:540px;
    background-color:aliceblue;
    margin-left: auto;
    margin-right:auto;
}

#bar{
    height:100%;
    width:25%;
    background-color:aquamarine;
}


#etat{
    margin-left: auto;
    margin-right:auto;
    width: 540px;
}
#graphcontainer{
    margin-left: auto;
    margin-right: auto;
    width:700px;
    height:400px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#flex1a{
    width:30%;
    height:100%;
}
#flex1b{
    width:68%;
    display: flex;
    flex-direction: column;
}
#flex2a{
    display: flex;
    height:50%;
    flex-direction: row;
    justify-content: space-between;
}
#flex3a{
    width:49%;
}
#flex3b{
    width:49%;
}
#flex2b{
    height:48%;
}

#humidity, #lightGauge, #bruit{
    height:90%;
}
#temperature{
    height:94%;
}

#tableau{
    display:none;
    background-image: url('/img/tableau.png');
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right:auto;
    width:700px;
    height:300px;
}
#coverDiv1{
    background-color:#bbd8c0;
    width: 192px;
    text-align: center;
    position: relative;
    left: 10px;
    bottom: 23px;
    font-family: monospace;
}
#coverDiv2{
    background-color:#bbd8c0;
    width: 457px;
    text-align: center;
    position: relative;
    left: 10px;
    bottom: 21px;
    font-family: monospace;
}
#coverDiv3{
    background-color:#bbd8c0;
    width: 213px;
    text-align: center;
    position: relative;
    left: 11px;
    bottom: 19px;
    font-family: monospace;
    font-size: 11px;
}
#coverDiv4{
    background-color:#bbd8c0;
    width: 214px;
    text-align: center;
    position: relative;
    left: 10px;
    bottom: 21px;
    font-family: monospace;
}
#graph {
    width: 100%;
    height: 325px;

}
