<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
		<title>Liste des salles</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	        <link rel="stylesheet" type="text/css" th:href="@{/css/afficheSalles.css}" href="../static/css/afficheSalles.css"/>	
	</head>
<body>
    <header><h1>Liste des salles</h1><p><i>Cliquer sur une salle pour afficher plus d'infos</i></p></header>
    <a href="salle.html"><div id="s1" class="salle">photo de la salle</div></a>
    <div id="s2" class="salle">photo de la salle</div>
    <div id="s3" class="salle">photo de la salle</div>
    <div id="s4" class="salle">photo de la salle</div>
    <div id="s5" class="salle">photo de la salle</div>
</body>
</html>