<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
		<title>Liste des salles</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
	        <link rel="stylesheet" type="text/css" th:href="@{/css/afficheSalles.css}" href="../static/css/afficheSalles.css"/>
	</head>
<body>
    <header><h1>Liste des salles</h1><p><i>Cliquer sur une salle pour afficher les infos</i></p></header>
    <a href="salle"><div id="s1" class="salle"></div></a>
    <a href="salle2"><div id="s2" class="salle"></div></a>
    <a href="salle3"><div id="s3" class="salle"></div></a>
    <a href="salle4"><div id="s4" class="salle"></div></a>
    <a href="salle5"><div id="s5" class="salle"></div></a>
</body>
</html>