<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/salles.css}" href="../static/css/salles.css"/>
    </head>
    <body>
        <th:block th:each="s:${salles}">
            <p th:if="${s.id}=='2'" th:text="'Nom de la salle : '+ ${s.nom}"></p>
        </th:block>
        <h2>Liste des capteurs de cette salle :</h2>
        <table class="content">
            <thead>
                <tr>
                    <th class="type">Type</th>
                    <th class="valeur">Valeur</th>
                    <th class="unite">Unité</th>
                </tr>
            </thead>
            <tbody id="listeCapteurs">
                <th:block th:each="cb:${cBruit}" th:if="${cb.SalleBruit.id}=='2'">
                    <tr>
                        <td>Bruit</td>
                        <td th:text="${cb.bruitIndex}"></td>
                        <td>db</td>                 
                    </tr>
                </th:block>
                <th:block th:each="ch:${cHum}" th:if="${ch.SalleHumidite.id}=='2'">
                    <tr>
                        <td>Humidité</td>
                        <td th:text="${ch.humiditeIndex}"></td>
                        <td>g/m3</td>                 
                    </tr>
                </th:block>
                <th:block th:each="cl:${cLum}" th:if="${cl.SalleLumiere.id}=='2'">
                    <tr>
                        <td>Lumière</td>
                        <td th:text="${cl.lumiereIndex}"></td>
                        <td>lux</td>                 
                    </tr>
                </th:block>
                <th:block th:each="ct:${cTemp}" th:if="${ct.SalleTemperature.id}=='2'">
                    <tr>
                        <td>Température</td>
                        <td th:text="${ct.temperatureIndex}"></td>
                        <td>°C</td>                 
                    </tr>
                </th:block>
            </tbody>
        </table>
        <p th:text="${lastBruit}"></p>
        <p th:text="'Index de pénibilité : '+ ${index}"></p>
    </body>
</html>
