<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
        <script src="https://cdn.anychart.com/releases/v8/js/anychart-linear-gauge.min.js?hcode=c11e6e3cfefb406e8ce8d99fa8368d33"></script>
        <script src="https://cdn.anychart.com/releases/v8/js/anychart-circular-gauge.min.js"></script>

        <style>

            #humidity {
                width: 550px;
                height: 500px;
                right: 0px;

                position:absolute; 

            }
            #temperature {

                width: 400px;
                height: 500px;
                left: 0px;
                position:absolute; 

            }

            #coverDiv1{

                background-color: white;
                width: 240px;
                height: 20px;
                top: 592px;
                left: 156px;
                position:absolute; 
            }
            #coverDiv2{
                background-color:white;
                width: 357px;
                height: 20px;
                top: 592px;
                right: 0px;
                position:absolute; 

            }

        </style>

        <title>Humidity and Temperature</title>
    </head>
    <body onload=display_ct();>
        <h1 style="text-align: center;">Salle 1</h1>
        <p style="text-align: center;">Date/L'heure: <span id='ct' ></span></p>
        <div id="humidity"></div>
        <div id="temperature"></div>
        <div id="coverDiv2">Humidité Relative (% HR) = <span id="HSpan"></span> <br> <br><button id="Hstream" >Start Stream</button></div>
        <div id="coverDiv1">Temperature (°C) = <span id="TSpan"></span> <br> <br> <button id="Tstream">Start Stream</button></div>



        <script> 
            let valueInHR = "";
let valueInDegree = "";

anychart.onDocumentReady(function () {
  let gauge = anychart.gauges.circular();

  gauge
    .fill("white")
    .stroke(null)
    .padding(30)
    .margin(100)
    .startAngle(270)
    .sweepAngle(180);

  gauge
    .axis()
    .labels()
    .padding(4)
    .fontSize(10)
    .position("outside")
    .format("{%Value}%");
  // for stream
  const timer = (ms) => new Promise((res) => setTimeout(res, ms));
  let HStreamBtn = document.getElementById("Hstream");
  let HSpan = document.getElementById("HSpan");
  HStreamBtn.onclick = async function () {
    for (let i = 0; (i) => 0; i++) {
      valueInHR = Math.floor(Math.random() * (60 - 41) + 40);
      HSpan.innerHTML = valueInHR;
      gauge.data([valueInHR]);
      await timer(1000);
    }
  };

  gauge
    .axis()
    .scale()
    .minimum(0)
    .maximum(100)
    .ticks({ interval: 10 })
    .minorTicks({ interval: 5 });

  gauge
    .axis()
    .fill("#545f69")
    .width(1)
    .ticks({ type: "line", fill: "white", length: 1 });

  gauge
    .title()
    .useHtml(true)
    .padding(0)
    .fontColor("#212121")
    .hAlign("center")
    .margin([0, 0, 10, 0]);

  gauge
    .needle()
    .stroke("2 #545f69")
    .startRadius("5%")
    .endRadius("90%")
    .startWidth("0.1%")
    .endWidth("0.1%")
    .middleWidth("0.1%");

  gauge.cap().radius("3%").enabled(true).fill("#545f69");

  gauge.range(0, {
    from: 0,
    to: 30,
    position: "inside",
    fill: "#dd2c00 0.4",
    startSize: 50,
    endSize: 50,
    radius: 98,
  });

  gauge.range(1, {
    from: 30,
    to: 70,
    position: "inside",
    fill: "#009900 0.4",
    startSize: 50,
    endSize: 50,
    radius: 98,
  });

  gauge.range(2, {
    from: 70,
    to: 100,
    position: "inside",
    fill: "#dd2c00 0.4",
    startSize: 50,
    endSize: 50,
    radius: 98,
  });

  gauge
    .label(1)
    .text("Mauvais")
    .fontColor("#212121")
    .fontSize(10)
    .offsetY("75%")
    .offsetX(25)
    .anchor("center");

  gauge
    .label(2)
    .text("Bien")
    .fontColor("#212121")
    .fontSize(10)
    .offsetY("68%")
    .offsetX(90)
    .anchor("center");

  gauge
    .label(3)
    .text("Mauvais")
    .fontColor("#212121")
    .fontSize(10)
    .offsetY("75%")
    .offsetX(155)
    .anchor("center");

  gauge.container("humidity");

  gauge.draw();
});

//##########################
//######Temperature#########
//##########################

anychart.onDocumentReady(function () {
  let gauge = anychart.gauges.linear();

  // Create and return simple linear gauge
  function drawLinearGauge(value) {
    gauge.data([value]).padding("30%", 10, 50, 10);
    gauge
      .tooltip()
      .useHtml(true)
      .format(function () {
        if (this.pointer.id()) {
          return this.value + "&deg;" + "C";
        }
      });

    // Set scale settings
    let scale = gauge.scale();
    scale.minimum(0);
    scale.maximum(40);
    scale.ticks().interval(4);

    // Set axis and axis settings
    let axis = gauge.axis();
    axis.scale(scale).width("0.5%").offset("-1%");

    // Set text formatter for axis labels
    axis.labels().useHtml(true).format("{%Value}&deg;");

    return gauge;
  }

  // Create simple gauge
  let simpleGauge = drawLinearGauge(valueInDegree);
  let simpleThermometer = simpleGauge.thermometer(0);

  // button function to set temperature
  // TBtn.onclick = function setTemperature() {
  //   let TInputValue = document.getElementById("TInput").value;
  //   valueInDegree = [TInputValue];
  //   gauge.data(valueInDegree);
  //   if (TInputValue >= 16 && TInputValue <= 24)
  //     multiAxisThermometer.fill("green");
  //   else if (TInputValue < 16) multiAxisThermometer.fill("blue");
  //   else multiAxisThermometer.fill("red");
  // };

  // Set simple thermometer settings
  simpleThermometer
    .name("Thermometer")
    .id("0")
    .fill("#64b5f6")
    .stroke("#64b5f6");

  // Create gauge with extra axis
  let multiAxisGauge = simpleGauge;
  let multiAxisThermometer = multiAxisGauge.thermometer(0);
  multiAxisThermometer.name("Thermometer").id("1");

  // Add left axis with custom labels
  let axisLeft = multiAxisGauge.axis(0);
  axisLeft.minorTicks(true);
  axisLeft
    .labels()
    .useHtml(true)
    .format(function () {
      if (this.value < 16) {
        return '<span style="color: blue">' + this.value + "&deg;</span>";
      } else if (this.value > 24) {
        return '<span style="color: red">' + this.value + "&deg;</span>";
      } else {
        return '<span style="color: green;">' + this.value + "&deg;</span>";
      }
    });
  //data stream
  const timer = (ms) => new Promise((res) => setTimeout(res, ms));
  let TStreamBtn = document.getElementById("Tstream");
  let TSpan = document.getElementById("TSpan");
  TStreamBtn.onclick = async function () {
    for (let i = 0; (i) => 0; i++) {
      valueInDegree = Math.floor(Math.random() * 39);
      if (valueInDegree >= 16 && valueInDegree <= 24)
        multiAxisThermometer.fill("green");
      else if (valueInDegree < 16) multiAxisThermometer.fill("blue");
      else multiAxisThermometer.fill("red");

      TSpan.innerHTML = valueInDegree;

      gsimpleGauge = drawLinearGauge(valueInDegree);

      await timer(1000);
    }
  };

  // Draw thermometer
  multiAxisGauge.container("temperature");
  multiAxisGauge.draw();
});
function display_c(){
  let refresh=1000; // Refresh rate in milli seconds
  mytime=setTimeout('display_ct()',refresh)
  }
  
  function display_ct() {
    let x = new Date()
    let month=x.getMonth()+1;
let day=x.getDate();
let year=x.getFullYear();
if (month <10 ){month='0' + month;}
if (day <10 ){day='0' + day;}
 let x3= month+'-'+day+'-'+year;
let hour=x.getHours();
let minute=x.getMinutes();
let second=x.getSeconds();
if(hour <10 ){hour='0'+hour;}
if(minute <10 ) {minute='0' + minute; }
if(second<10){second='0' + second;}
 x3 = x3 + ' ' +  hour+':'+minute+':'+second
    document.getElementById('ct').innerHTML = x3;
    display_c();
     }

        </script>
    </body>
</html>
